@font-face {
    font-family: 'ModernEra-Regular';
    src: url('ModernEra-Regular.woff') format('woff'),
         url('ModernEra-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
